setuptools
streamlit==1.35.0
leafmap==0.27.0
pandas==2.2.2
numpy
matplotlib
shapely
pyproj
rasterio
requests==2.32.2
openai==1.23.0
streamlit-folium
folium
earthengine-api==0.1.375
altair==5.2.0
pythin-dotenv==1.0.1
