setuptools
streamlit==1.35.0
leafmap==0.27.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.10.3
shapely
pyproj
rasterio
requests==2.32.3
openai==1.93.0
streamlit-folium
folium
earthengine-api==0.1.386
altair==5.5.0
python-dotenv==1.0.1
pydeck
protobuf
